.imgLogo{
    width: 4em;
    margin-right: 2em;
}

#jumbotron{
    background-color: rgb(217, 183, 13);
    height: 45vh;
}

.textJumb p{
    font-size: 1.5em !important;
}

#duckArea{
    margin-bottom: 10em !important;
}

.card{
    padding: 0;
    transition: transform 0.3s ease-in-out; /* Aggiunge una transizione fluida */
}

  .card:hover {
    transform: scale(1.05); /* Aumenta leggermente la dimensione della card al passaggio del mouse */
  }

.card-img-top{
    max-height: 20em;
    object-fit: cover;
}

#footer{
    height: 5em;
    background-color: rgb(217, 183, 13);
}

